
<form action="http://service.162unlimited.net/contact.php" method="POST" enctype="multipart/form-data">
  <div class="field inline text">
    <label for="name">Your Name:</label>
    <input type="text" size="60" maxlength="128" name="name" placeholder="Your Name"/>
  </div>
  <div class="field inline text">
    <label for="email">Your E-Mail:</label>
    <input type="text" size="60" maxlength="128" name="email" placeholder="Your E-Mail"/>
  </div>
  <div class="field inline text">
    <label for="subject">Subject:</label>
    <input type="text" size="60" maxlength="128" name="subject" placeholder="Subject"/>
  </div>
  <div class="field inline textarea">
    <label for="message">Message:</label>
    <textarea name="message" placeholder="Your Message" rows="3"></textarea>
  </div>
  <div class="field submit">
    <input type="submit" value="Send Message"/>
  </div>
</form>