    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link href="/assets/ios/icon.png" rel="apple-touch-icon" />
    <link href="/assets/ios/57.png" sizes="57x57" rel="apple-touch-icon" />
    <link href="/assets/ios/72.png" sizes="72x72" rel="apple-touch-icon" />
    <link href="/assets/ios/114.png" sizes="114x114" rel="apple-touch-icon" />
    <link href="/assets/ios/144.png" sizes="144x144" rel="apple-touch-icon" />
