/* 
   Stylesheet for the BESC Characterization Work Shop registration pages.
*/

.workshop-registration-page .location {
  float: left;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.workshop-registration-page .location.label {
  margin-right: 10px;
  font-weight: bold;
}

.workshop-registration-page p {
  clear: left;
}

#registration label {
  display: block;
  float: left;
  width: 26%;
}

#registration div {
  margin-bottom: 5px;
}

#registration div.mail,
#registration div.provisions,
#registration div.contact,
#registration div.meal {
  margin-bottom: 20px;
}

#registration select {
  width: 284px;
}

#registration input {
  width: 278px;
}

#registration input[name=submit] {
  width: auto;
}

#registration .meal label {
  width: 32%;
}

#registration .meal div.group {
  float: left;
}

#registration .meal .group label {
  margin-right: 5px;
}

#registration .dietary_needs {
  clear: left;
  margin-bottom: 30px;
}

#registration .dietary_needs label {
  width: 28%;
}

#registration .contact {
}